<div class="loading" *ngIf="!posts">
    Cargando...
</div>
<div class="container-fluid mt-3" *ngIf="posts">
    <h1>{{page_title}}</h1>
    <hr>
    <div class="card-columns">
        <article class="card w-100" *ngFor="let post of posts">
            <div class="card-header">
                <a [routerLink]="['/inicio']" routerLinkActive="router-link-active" >
                    <h3>{{post.title}}</h3>
                </a>
            </div>
            <div class="card-body">
                <!-- IMAGEN -->
                <div class="post-image w-100" *ngIf="post.image">
                    <img src="{{url+'post/image/'+post.image}}" class="w-100">
                </div>
                <div class="post-image w-100" *ngIf="!post.image">
                        <img src="assets/img/placeholder.jpg" class="w-100">
                    </div>

                <!-- BOTONES DE ACCION -->
                    <div class="post-buttons mt-3">
                        <a [routerLink]="['/home']" class="btn btn-success mr-2">Leer</a>
                        <span *ngIf="identity && identity.sub == post.user_id">
                            <a [routerLink]="['/home']" class="btn btn-warning mr-2">Editar</a>
                            <a [routerLink]="['/home']" class="btn btn-danger">Borrar</a>
                        </span>
                    </div>
            </div>
        </article>
    </div>

</div>