<div class="container">
  <!-- CONTENEDOR PRINCIPAL -->
  <br>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- NAVBAR -->
    <a class="navbar-brand" href="#">
      <img src="/assets/img/angular-logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">

      NGBLOG


    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngFor="let category of categories">
          <a class="nav-link" [routerLink]="['/category', category.id]" routerLinkActive="router-link-active" >{{category.name}}</a>
        </li>

      </ul>

      <ul class="navbar-nav navbar-right" *ngIf="!identity">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active" >Identifícate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register']" routerLinkActive="router-link-active" >Regístrate</a>
          </li>
        </ul>

      <ul class="navbar-nav navbar-right" *ngIf="identity && identity.name">

        <li *ngIf="identity && identity.image" class="nav-item">
          <div class="avatar_mask">
            <img src="{{url + 'user/avatar/' + identity.image}}" class="avatar_nav">
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{identity.name + ' ' + identity.surname}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/create-post']" routerLinkActive="router-link-active" >Crear entrada</a>
            <a class="dropdown-item" [routerLink]="['/create-category']" routerLinkActive="router-link-active" >Crear categoría</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/profile', identity.sub]" routerLinkActive="router-link-active" >Mi perfil</a>
            <a class="dropdown-item" [routerLink]="['/settings']" routerLinkActive="router-link-active" >Ajustes</a>
            <a class="dropdown-item" [routerLink]="['/logout/1']" routerLinkActive="router-link-active" >Salir</a>
          </div>
        </li>
      </ul>

      
    </div>
  </nav>



  <!-- CONTENIDO -->


  <router-outlet></router-outlet>

  <footer>
      <hr>
    Daniel Serrano Cobos &copy;
    <hr>
  </footer>
</div>